// @import '/src/dist/framework/variables.scss';

// ____________________________________________ COLORS ____________________________________________ //
// .container {   }

// ____________________________________________ THEME ____________________________________________ //
// body[_theme='dark'] .container {   }

// ____________________________________________ LANGUAGE ____________________________________________ //
// body:not([_language='fa']) .container {    }

// ____________________________________________ STYLES ____________________________________________ //
.container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: #eee;
	background-image: var(--gradient-base);
	backdrop-filter: blur(12px);
	overflow: hidden;

	.loader {
		opacity: 0.9;
		position: fixed;
		height: 250px;
		width: 250px;
		top: calc(50vh - 125px);
		right: calc(50vw - 125px);
		margin: 0 auto;
	}

	// .loading {
	// 	position: fixed;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: calc(0vw - 50px);
	// 	z-index: 1002;
	// 	width: 50px;
	// 	background-color: #fff;
	// 	// box-shadow: 0px 0px 5px 5px #fff;
	// 	transition: 0.3s all;
	// 	animation: loading 1.5s both linear;
	// }
}

@keyframes loading {
	0% {
		filter: none;
	}

	50% {
		filter: contrast(0.3) hue-rotate(20deg);
		transform: scaleX(1.01);
	}

	100% {
		filter: none;
	}
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

// ____________________________________________ MEDIA SCREEN ____________________________________________ //
// @media (max-width: ( $md-size - 1) ) { .container {  }  }
// @media (max-width: ( $lg-size - 1) ) { .container {  }  }
// @media (max-width: ( $xl-size - 1) ) { .container {  }  }
// @media (max-width: ( $xxl-size - 1) ) { .container {  }  }
