// ____________________________________________ VARIABLE'S ____________________________________________ //
// .container {   }

// ____________________________________________ THEME'S ____________________________________________ //
// body[_theme='dark'] .container {   }

// ____________________________________________ LANGUAGE'S ____________________________________________ //
// body:not([_language='fa']) .container {    }

// ____________________________________________ STYLES ____________________________________________ //
.container {
	background-color: #0004;
	backdrop-filter: blur(12px);

	.wrapper {
		background-color: #fff8;
		border-radius: 8px;
		padding-top: 15px;

		.closeIcon {
			position: absolute;
			left: 15px;
			top: 15px;
			font-size: 20px;
			font-weight: 400;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				color: var(--color-danger);
				opacity: 1;
			}
		}
	}
}

// ______________________________________ MEDIA SCREEN'S (MOBILE FIRST) _______________________________________ //
// @screen sm { .container {  } }
// @screen md { .container {  } }
// @screen lg { .container {  } }
// @screen xl { .container {  } }
// @screen 2xl { .container {  } }
